{
    "version" : "2017-02-28",
    "operation" : "PutItem",
    "key" : {
        "id": $util.dynamodb.toDynamoDBJson($ctx.args.input.id),
    },
    "attributeValues" : $util.dynamodb.toMapValuesJson($ctx.args.input)
}
